.principal {
    background-image: url(imagenes/fondo.webp);
    background-repeat: no-repeat;
}

header {
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: #025373;

}

.logo {
    width: 160px;
    height: 90px;
}

.buscador {
    width: 35%;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 5px;
    background-image: url(imagenes/lupa.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: calc(100% - 7px);
}

.input-buscador {
    width: 90%;
    height: 100%;
    border: none;
    border-radius: 5px 0px 0px 5px;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    font-weight: lighter;
    color: #fff;
    padding-left: 10px;
    background: transparent;
    outline: none;
    appearance: none;
}

.boton-buscador {
    position:calc(90% - 10px);
    background: transparent;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.texto-header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: #ffffff;
    margin-right: 10px;
}

.contacto-irma {
    width: 35px;
    height: auto;
    margin: 10px;
}

.nav-bar {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding: 115px 20px 10px 20px;
    width: 100%;
    color: #025373;
    font-size: 1.2rem;
}

.texto-nav {
    display: flex;
    flex-direction: row;
}

.nav-bar button {
    background: none;
    border: none;
}

.nav-bar a {
    border-right-style: solid;
    border-right-color: black;
    border-right-width: 1px;
    padding: 0px 10px  ;
    margin-top: 20px;
    text-decoration: none;
    color: #025373;
}

.nav-bar select {
    background-color: blue;
    color: #fff;
    border-radius: 0.5em;
    border-color: #fff;
}

.titulo {

    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5em;
    text-align: center;
    margin: 40px 0px;

}

.parrafo-principal {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: black;
    text-align: justify;
    margin: 20px;
    padding: 20px;
    border-radius: 0px 50px;
    background-color: #ffffff;
}

.mapa > iframe {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    border-radius: 15px;
    opacity: 0.8;
    margin: 40px 0px 40px 0px;
}

.pie-de-pagina {
    background-color: lightgray;
    display: flex;
    flex-direction:column;
}

.contacto {
    display: flex;
    justify-content:flex-start;
}

.contacto-datos {
    display: flex;
    flex-direction: column;
    margin: 10px 90px;
}

.linea-horizontal {
    width: auto;
    height: 1px;
    margin: 0px 50px;
    background-color: black;
}

.derechos-redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 40px;
}

.derechos {
    display: flex;
    align-items: center;
    margin: 10px 40px 10px 40px;
    padding: 10px;
}

.nuestras-redes {
    display: flex;
    align-items: center;
    margin: 10px 40px 10px 40px;
}

.redes-sociales {
    margin: 10px 10px;
    padding: 0px 0px;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        gap: 20px;
    }

    .logo {
        align-self: flex-start;
    }

    .buscador {
        width: 95%;
    }

    .texto-header {
        display: none;
    }
    
    .nuestras-redes {
        width: 95%;
        justify-content: space-around;

    }

    .nav-bar {
        flex-direction: column;
        font-size: 1em;
        margin-top: 0px;
        margin-left: 0px;
        height: 100%;
        padding: 275px 0px 20px 0px;
        row-gap: 10px;
        background: none;
    }

    .texto-nav {
        background-color: aliceblue;
        width:100vw;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
    }

    .nav-bar select {
        text-align: center;
        align-self: center;
        width: 80%;
        height: auto;
    }

    .titulo {
        margin: 30px 0px;
    }
    
    .pie-de-pagina {
        font-size: 0.8em;
    }

    .contacto-datos {
        width: 100%;
        margin-left: 10px;
        justify-content: start;
    }

    .derechos-redes {
        flex-direction: column;
        width: 100%;
        padding: 0px;
        justify-content: start;
    }

    .derechos {
        width: 100%;
        margin-left: 0px;
    }

    .nuestras-redes {
        margin-left: 0px;
        margin-right: 0px;
    }
}